global
    log stdout format raw local0
    maxconn 50000

defaults
    log     global
    mode    tcp
    timeout connect 5s
    timeout client  10m
    timeout server  10m

# Local stats for keepalived health check (hostNetwork)
listen stats
    bind 127.0.0.1:{{ haproxy_stats_port }}
    mode http
    stats enable
    stats uri /
    stats refresh 5s

listen kube_internal
    bind {{ kube_vip_address }}:{{ kube_vip_port }}
    mode tcp
    option tcplog
    option dontlognull
    option dontlog-normal
    balance roundrobin

{% for host in groups['kube-master'] %}
    server {{ host }} {{ hostvars[host]['ansible_' + api_interface]['ipv4']['address'] }}:6443 check inter 2000 rise 2 fall 5
{% endfor %}
