apiVersion: v1
kind: Pod
metadata:
  name: keepalived
  namespace: kube-system
  labels:
    component: keepalived
    tier: control-plane
spec:
  hostNetwork: true
  priorityClassName: system-node-critical
  containers:
    - name: keepalived
      image: {{ keepalived_image }}
      imagePullPolicy: IfNotPresent
      securityContext:
        privileged: true
      volumeMounts:
        - name: keepalived-cfg
          mountPath: /container/service/keepalived/assets/keepalived.conf
          subPath: keepalived.conf
          readOnly: true
        - name: keepalived-check
          mountPath: /etc/keepalived/check_haproxy.sh
          subPath: check_haproxy.sh
          readOnly: true
  volumes:
    - name: keepalived-cfg
      hostPath:
        path: /etc/keepalived/keepalived.conf
        type: File
    - name: keepalived-check
      hostPath:
        path: /etc/keepalived/check_haproxy.sh
        type: File
  restartPolicy: Always
